<section class="Header">
  <section class="Header-container">
    <h1 class="Logo"><a class="Logo-link" href="./">CreandoWeb Studio</a></h1><a class="Panel-button" href="#">
      <button class="hamburger hamburger--spring" type="button"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button></a>
    <aside class="Panel">
      <nav class="Menu">
        <ul class="Menu-listItem">
          <li class="Menu-item"><a class="Menu-link" href="#inicio" target="">Inicio</a></li>
          <li class="Menu-item"><a class="Menu-link" href="#somos" target="">Quienes Somos</a></li>
          <li class="Menu-item"><a class="Menu-link" href="#hacemos" target="">Que Hacemos</a></li>
          <li class="Menu-item"><a class="Menu-link" href="#equipo" target="">Quienes lo Hacen</a></li>
          <li class="Menu-item"><a class="Menu-link" href="#contacto" target="">Contacto</a></li>
        </ul>
      </nav>
    </aside>
  </section>
</section>
<header>
  <section class="hero" id="inicio">
    <div class="hero">
      <div class="hero__logo"></div>
      <div class="hero__phrase">
        <h3>¿Necesitas servicio profesional en tu hogar?</h3>
      </div>
      <div class="hero__register">
        <h2 class="subtitle">Encuentra rapidamente profesionales para tu hogar</h2>
        <div class="apps">
          <div class="googlePlay"></div>
          <div class="appStore"></div>
        </div>
      </div>
    </div>
  </section>
</header>
<section class="main">
  <div class="main__plus">
    <div class="main__plus--options">
      <div class="optionContainer op1">
        <div class="icon"></div>
        <div class="title">
          <h2>Nullam sagittis convallis</h2>
        </div>
        <div class="text">
          <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
        </div>
      </div>
      <div class="optionContainer op2">
        <div class="icon"></div>
        <div class="title">
          <h2>Tincidunt elit</h2>
        </div>
        <div class="text">
          <p>Duis quis enim diam. Phasellus consectetur ante eu purus placerat, nec mollis quam pellentesque.</p>
        </div>
      </div>
      <div class="optionContainer op3">
        <div class="icon"></div>
        <div class="title">
          <h2>Nam in erat nulla</h2>
        </div>
        <div class="text">
          <p>Vivamus nunc mi, suscipit eget lectus in, fringilla rutrum mi. Morbi at aliquam leo, a tempor libero.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="main__registerUser">
    <div class="main__registerUser--content">
      <div class="title">
        <h2>Todo en un solo lugar</h2>
      </div>
      <div class="text">
        <p>Donec eget leo augue. Nam sit amet tempus eros, a pharetra velit.</p>
        <p>Vivamus hendrerit sapien non mi rutrum, ac facilisis nisi elementum. Suspendisse varius nisi eu diam ultricies congue. Maecenas tempor felis et diam gravida.</p>
      </div>
      <div class="action">
        <div class="action__icon"></div>
        <div class="action__call">
          <p>Regístrate ahora!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="main__providerDownload">
    <div class="main__providerDownload--wrapper">
      <div class="provider">
        <div class="provider__title">
          <h2>¿Eres profesional y quieres ofrecer un mejor servicio?</h2>
        </div>
        <div class="provider__content">
          <p>Cras et justo nec augue ullamcorper rhoncus sed ut ipsum. Integer vitae ipsum lacinia lectus posuere ultricies. Pellentesque tincidunt, tortor ac vehicula finibus, nunc neque vestibulum lacus, non sagittis justo massa sed nisl.</p>
        </div>
        <div class="provider__action">
          <div class="icon"></div>
          <div class="call">
            <h3>Contáctate</h3>
          </div>
        </div>
      </div>
      <div class="download">
        <div class="download__title">
          <h2>Descarga y empieza a disfrutar ahora el mejor servicio!</h2>
        </div>
        <div class="download__content">
          <p>Maecenas metus ante, cursus ut arcu viverra, dapibus ornare sapien. Praesent maximus mattis lacus non tempor. Nunc malesuada lacus tincidunt elit porttitor, eu suscipit ante rhoncus.</p>
        </div>
        <div class="download__access">
          <div class="googlePlay"></div>
          <div class="appStore"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="main__contact">
    <div class="main__contact--title">
      <h2>¿Necesitas más información?</h2>
    </div>
    <div class="main__contact--form">
      <div class="inputUser">
        <div class="inputUser__name">
          <input class="inputText" type="text" id="nombre" name="nombre" placeholder="Nombre completo">
        </div>
        <div class="inputUser__mail">
          <input class="inputText" type="mail" id="email" name="email" placeholder="Correo electrónico">
        </div>
      </div>
      <div class="inputProvider">
        <div class="inputProvider__services">
          <input class="inputText" type="text" id="service" name="service" placeholder="Servicio para ofrecer (*)">
        </div>
        <div class="inputProvider__phone">
          <input class="inputText" type="text" id="phoneNumber" name="phonenumber" placeholder="Número para ser contactado (*)">
        </div>
      </div>
      <div class="btn"><a class="inputBtn" href="#">Contactar</a></div>
    </div>
    <div class="inputNote">
      <p>Si eres profesional o quieres prestar un servicio completa estos campos (*)</p>
    </div>
  </div>

</section>

<section class="footer">
  <div class="footer__logo"></div>
</section>

